:not(:defined) {
  visibility: hidden;
}

body {
  user-select: none;
  -webkit-user-select: none;

  scroll-behavior: auto;

  text-rendering: optimizeLegibility;
}

pre,
pre > * {
  text-rendering: geometricPrecision;
}
